.bodyBK {
  background-color: hsl(200deg, 50%, 10%);
}

.nav-style {
  position: fixed;
  width: 100%;
}
.nav-style .navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.nav-style .navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 30%;
  list-style-type: none;
  gap: 1rem;
  margin: 0px;
  padding: 0px;
  animation: mianimacion1 2s;
}
.nav-style .navbar ul a {
  color: hsl(200deg, 50%, 90%);
  text-decoration: none;
}
.nav-style .navbar .izquierda {
  justify-content: end;
}
.nav-style .navbar .derecha {
  justify-content: start;
  animation: mianimacion2 2s;
}
.nav-style .navbar .nav-name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15rem;
  color: hsl(200deg, 50%, 90%);
}
.nav-style .navbar .nav-name .nav-name-fond {
  position: absolute;
  width: 15rem;
  top: 0px;
  z-index: -1;
  height: 0px;
  border-right: 60px solid transparent;
  border-left: 60px solid transparent;
  border-top: 100px solid hsl(200deg, 50%, 0%);
  animation: mianimacion 1s;
}
.nav-style .navbar .nav-name h2, .nav-style .navbar .nav-name p {
  animation: mianimacion 1s;
}

@keyframes mianimacion {
  0% {
    transform: translateY(-100px);
  }
}
@keyframes mianimacion1 {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes mianimacion2 {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}
.container-html-tags {
  padding-top: 7rem;
  padding-left: 2rem;
  overflow: hidden;
}
.container-html-tags:before {
  content: "<html>";
  display: block;
  color: hsl(200deg, 50%, 30%);
}
.container-html-tags:after {
  content: "</html>";
  display: block;
  color: hsl(200deg, 50%, 30%);
}

.container-body-tags {
  padding-left: 2rem;
}
.container-body-tags:before {
  content: "<body>";
  display: block;
  color: hsl(200deg, 50%, 30%);
}
.container-body-tags:after {
  content: "</body>";
  display: block;
  color: hsl(200deg, 50%, 30%);
}

header {
  display: flex;
  width: 100%;
  height: 80vh;
}
header .div-text {
  padding: 0rem 2rem;
}
header .div-scroll {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 40px;
  width: 90%;
  color: hsl(200deg, 50%, 90%);
}
header .div-scroll span {
  transform: rotate(90deg);
}

.portafolio .div-but {
  display: flex;
  justify-content: end;
}
.portafolio section {
  margin: 10px 0;
}
.portafolio section .col {
  padding: 0px;
  margin: 0px;
}
.portafolio section article {
  width: auto;
  min-height: 200px;
  max-height: 400px;
  background-color: aqua;
  border: solid 1px black;
}

.blog {
  padding-left: 2rem;
}
.blog h2 {
  position: absolute;
  font-size: 25rem;
  color: hsl(200deg, 50%, 15%);
}
.blog div {
  padding-left: 3rem;
  position: relative;
  top: 20rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.blog article {
  width: 300px;
  height: 300px;
  background-color: aqua;
}

.contactame {
  padding-left: 4rem;
  color: hsl(200deg, 50%, 90%);
  font-size: 20px;
  margin-right: 2rem;
}
.contactame h2:before {
  content: "<h2>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}
.contactame h2:after {
  content: "</h2>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}

.a-button {
  text-decoration: none;
  padding: 10px 30px 10px 30px;
  color: hsl(200deg, 50%, 30%);
  border: solid 1px hsl(200deg, 50%, 30%);
  font-size: 20px;
}
.a-button:hover {
  color: hsl(200deg, 50%, 90%);
  background-color: hsl(200deg, 50%, 30%);
}

.h1-site {
  color: hsl(200deg, 50%, 90%);
  font-size: 90px;
  margin: 1rem 0rem;
}
.h1-site:before {
  content: "<h1>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}
.h1-site:after {
  content: "</h1>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}

.p-tags {
  color: hsl(200deg, 50%, 90%);
  font-size: 20px;
  margin: 1rem 0rem;
}
.p-tags:before {
  content: "<p>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}
.p-tags:after {
  content: "</p>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}

.h2-site {
  color: hsl(200deg, 50%, 90%);
  font-size: 30px;
}
.h2-site:before {
  content: "<h2>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}
.h2-site:after {
  content: "</h2>";
  display: block;
  color: hsl(200deg, 50%, 30%);
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
